.fxs_listView_vers {
  background-color: #8c8d91;
  padding: 0 4px 4px 4px;
  position: initial;
}
@media (min-width: 680px) {
  .fxs_listView_vers {
    position: fixed;
  }
}
@media (min-width: 680px) {
  .fxs_listView_vers .fxs_listView_blockWrapper,
  .fxs_listView_vers .fxs_listview_subnav {
    width: 266px;
  }
}
@media (min-width: 1150px) {
  .fxs_listView_vers .fxs_listView_blockWrapper,
  .fxs_listView_vers .fxs_listview_subnav {
    width: 316px;
  }
}
.fxs_listView_vers .fxs_listView_item {
  border-bottom: 4px solid #8c8d91;
}
.fxs_listView_vers .toggled_txt {
  color: #ffffff;
  text-decoration: underline;
  font-size: 0.8rem;
  text-transform: none;
}
.fxs_listView_vers .fxs_listViewRail {
  position: relative;
  top: 0;
  z-index: 2;
  -lh-property: 0;
height:-webkit-calc(100% - 50px - 45px);
height:-moz-calc(100% - 50px - 45px);
height:calc(100% - 50px - 45px);
;
}
.fxs_listView_vers .fxs_blur_effect {
  -webkit-filter: opacity(0.1);
  filter: opacity(0.1);
}
.fxs_price_filter_sidebar {
  position: fixed;
  width: 100%;
  z-index: 7;
  padding-right: 8px;
  /*.fxs_typeaheadList > li:nth-child(5) {
      background-color: @light_3_clr; 
  }
  .fxs_typeaheadList > li:nth-child(3) {
      background-color: @light_3_clr; 
  }*/
}
@media (min-width: 680px) {
  .fxs_price_filter_sidebar {
    width: auto;
  }
}
.fxs_price_filter_sidebar .fxs_listview_subnav {
  background-color: #8c8d91;
  border-bottom: 0;
  height: 45px;
}
.fxs_price_filter_sidebar .fxs_listview_subnav .fxs_helperLabel_title {
  line-height: 45px;
}
.fxs_price_filter_sidebar .fxs_filter_rail_container {
  background-color: #8c8d91;
  min-height: 100%;
}
@media (min-width: 1024px) {
  .fxs_price_filter_sidebar .fxs_filter_rail_container {
    min-height: 40%;
    padding: 1rem 0 5px;
  }
}
.fxs_price_filter_sidebar .fxs_rates_filter_list li {
  font-size: 0.8rem;
  font-weight: 400;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  padding: 3px;
}
.fxs_price_filter_sidebar .fxs_rates_filter_list .fxs_show {
  display: none;
}
.fxs_price_filter_sidebar .fxs_rates_filter_list .fa-minus-circle {
  color: #ffffff;
}
.fxs_price_filter_sidebar .fxs_fieldset {
  border-bottom: none;
}
.fxs_price_filter_sidebar .fxs_listView_mobile {
  display: inline-block;
}
@media (min-width: 680px) {
  .fxs_price_filter_sidebar .fxs_listView_mobile {
    display: none;
  }
}
.fxs_price_filter_sidebar .fxs_listView_mobile i {
  color: #ffffff;
  padding-left: 1rem;
}
.fxs_price_filter_sidebar .fxs_apply_filters_block {
  bottom: 45px;
  position: absolute;
  width: 100%;
  padding: 0.2rem;
}
@media (min-width: 680px) {
  .fxs_price_filter_sidebar .fxs_apply_filters_block {
    bottom: 5px;
    position: relative;
    bottom: 0;
  }
}
.fxs_price_filter_sidebar .fxs_apply_filters_block .fxs_col_50 {
  width: 50%!important;
  float: left!important;
}
.fxs_price_filter_sidebar .fxs_apply_filters_block .fxs_filter_reset {
  font-size: 0.8rem;
  text-decoration: underline;
  font-weight: 400;
}
.fxs_price_filter_sidebar .fxs_apply_filters_block .fxs_filter_reset:hover {
  text-decoration: none;
}
.fxs_price_filter_sidebar .fxs_apply_filters_block .fxs_assets_info {
  background-color: #B1C4D5;
  padding: 0.3rem;
  width: 100%;
}
.fxs_price_filter_sidebar .fxs_apply_filters_block .fxs_assets_info .fxs_assets_number {
  font-size: 0.92rem;
  font-weight: bold;
}
.fxs_price_filter_sidebar .fxs_apply_filters_block .fxs_assets_info .fxs_assets_number_info {
  font-size: 0.8rem;
}
.fxs_price_filter_sidebar .fxs_typeaheadList {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  width: 100%;
  font-size: .92rem;
  background-color: #fff;
  border: 0!important;
  list-style: none;
  margin: 3px 0 0 0.5rem!important;
  padding: 0;
  max-height: 200px;
  width: 95%!important;
}
.fxs_price_filter_sidebar .fxs_typeaheadList .fxs_typeaheadTxt {
  padding-left: 1rem;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 80px;
}
.fxs_price_filter_sidebar .fxs_typeaheadList strong {
  background-color: transparent!important;
}
.fxs_price_filter_sidebar .fxs_typeaheadList > li {
  border: 0!important;
}
.fxs_price_filter_sidebar .fxs_typeaheadContainer .typeahead-result ~ .typeahead-result {
  display: none!important;
}
.fxs_price_filter_sidebar .fxs_apply_filter_msg {
  position: absolute;
  top: 50px;
  left: 4rem;
  z-index: 4;
  background: rgba(51, 132, 115, 0.9);
  text-align: center;
  line-height: 45px;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 20px;
  color: #ffffff;
  font-size: 0.92rem;
  display: none;
}
.fxs_price_filter_sidebar .fxs_asset_selected {
  background-color: #dddedf !important;
}
.fxs_price_filter_sidebar .fxs_typeaheadList > li a {
  display: block;
  padding: 5px 1rem;
  clear: both;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: normal!important;
  color: #49494f;
  white-space: nowrap;
  vertical-align: middle;
  padding: 3px;
  text-decoration: none;
}
.fxs_listView_vers_btn .fxs_btn_content_toggle_collapse {
  opacity: 0.65;
  cursor: not-allowed;
}
@media (min-width: 680px) {
  .fxs_listView_vers_btn .fxs_btn_content_toggle_collapse {
    opacity: 1;
    cursor: pointer;
  }
}
.fxs_listView_vers_btn .fxs_helperLabel_title {
  color: #ffffff;
}
.fxs_listView_vers_btn .fxs_btn_filter {
  width: 100%;
  top: 4px;
}
.fxs_listView_vers_btn .fxs_togglebtn_txt {
  position: relative;
  margin-bottom: 5px;
}
.fxs_listView_vers_btn .fxs_filter_price_btn {
  width: 85px!important;
}
.fxs_listView_vers_btn .fxs_filter_price_btn .toggled_txt {
  font-size: 0.8rem !important;
}
.fxs_listView_vers_btn .fxs_filter_price_btn .toggled_txt:hover {
  text-decoration: none;
  color: #ffffff;
}
.fxs_listView_vers_btn .fxs_label_filter {
  background-color: #304c70;
  color: #ffffff;
  font-size: 10px;
  font-weight: 400;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  position: absolute;
  line-height: 29px;
  margin-top: 3px;
  padding: 0 7px 0 7px;
}
.fxs_listView_vers_btn .fxs_icon_filter {
  background-color: #0cb5c6;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 18px;
  padding: 3px 7px 4px 7px;
  color: #ffffff;
  margin-left: 54px;
}
.fxs_listView_vers_btn .fxs_icon_filter .fa-filter {
  display: inherit;
}
