.fxs_pages_container {
  margin: 0 auto!important;
  max-width: 1280px;
  /*@media(min-width:1480px){
    max-width: 1280px;
  }*/
}
.fxs_pages_container .fxs_wallpaper_wrap {
  z-index: 2;
}
.fxs_pages_container .fxs_detail {
  z-index: 2;
}
