.fxs_pages_container {
  margin: 0 auto!important;
  max-width: 1033px;
}
@media (min-width: 1480px) {
  .fxs_pages_container {
    max-width: 1280px;
  }
}
.fxs_pages_container .fxs_wallpaper_wrap {
  z-index: 3;
}
