// Vendor imports
@import "../../css/less/vendor/lesshat.less";  // lesshat - LESS Mixins library

// Application variables & mixins
@import "../../css/less/vars.less";
@import "../../css/less/mixins.less";


// test container 

.fxs_pages_container{
  margin: 0 auto!important;
  max-width: 1033px;
  @media(min-width:1480px){
    max-width: 1280px;
  }
  .fxs_wallpaper_wrap {
    z-index: 3;
  }
}
/*.fxs_listView {
  @media (min-width: @screen-s){ left: -(@left_rail_space_reduced + 5px); }
  @media (min-width: @screen-m) { left: 275px; }
  @media (min-width: @screen-l) { left: 10px; }
  @media (min-width: 1440px) { left: 15%!important; }
  &.cbp-spmenu-open {
    .translateX(100%);
    @media (min-width: @screen-s){
      .translateX(@left_rail_space_reduced + 5px);
    }
    @media (min-width: @screen-m) { .translate(0); }
  }
  .fxs_listView_item_high{
    padding-top: 0px;
    padding-bottom:0px;
  }
  .fxs_asset_label_filter{
    padding-right: 5px;
  }
}
.fxs_global_alert {
  @media (min-width: @screen-m) {
    margin-left: @left_rail_space_reduced;
  }
}

.fxs_content_subnav {
  @media (min-width: @screen-m) {
    margin-left: @left_rail_space_reduced;
    top:50px;
    position: fixed;
    //left: @left_rail_space_reduced;
    .calc(width, ~'100% - @{left_rail_space_reduced}'); 
  }
  @media (min-width: @screen-l) {
    top:50px;
    //left: @left_rail_space;
    .calc(width, ~'100% - @{left_rail_space}'); 

  }
  .fxs_content_wide &{
    top:50px;
    left: 0;
    width: 100%;
    .fxs_toggleList { display: none; }
  }
}*/